
.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: rgb(255, 255, 255);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 1rem;
  padding: 2rem;
  width: 90%;
  height: 90%;
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  animation: fadeIn 0.3s ease-out;
}

.modal-title {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--text-dark);
  margin-bottom: 0.5rem;
  text-align: center;
}

.modal-text {
  font-size: 1rem;
  color: var(--text-dark);
  margin-bottom: 1.5rem;
  text-align: center;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px);}
  to { opacity: 1; transform: translateY(0);}
}